@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
/*font-family: 'Finger Paint', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;*/


body {height: 5000px;}
.wrapper {max-width: 1210px; margin: 0 auto;}
.wrapper-small {max-width: 800px; margin: auto;}

.imgh {width: 30%;}
.header {color: white; font-size: 13px; line-height: 13px; padding: 6px 0;}
.navi-wrap > .login {float: right;}
hr.border {border: none; border-bottom: 1px solid #eee; opacity: 0.5;}



.title-wrap {width: 100%; color: white;}
.title-wrap .titles {float: right; font-size: 18px; color: #fff; position: relative;}
.title-wrap .titles > div {float: left;  padding: 24px 16px; cursor: pointer;}
.titles .ti-mo {background-color: #fff; position: absolute; color: #777474; width: 250px;
top: 4rem; left: 7.5rem; display: none; cursor: pointer;}
.titles .ti-mo > li {padding: 0.8rem; text-align: left; cursor: pointer;}
.titles .ti-mo  > li:hover {background-color: #eee; color: #000;}

.bar-wrap {}
.bars {width: 84px; height: 84px; position: relative; cursor: pointer; margin: auto; 
	display: none;}
.bar {width: 36px; height: 3px; background-color: #fff; position: absolute; transform-origin: center; animation-duration: 1s; animation-fill-mode: forwards;}
.bar1 {top: 33px; left: 24px;}
.bar2 {top: 43px; left: 24px;}
.bar3 {top: 53px; left: 24px;}

@keyframes bar1 {
	0% {}
	40% {top: 43px; transform: rotate(0deg)}
	100% {top: 43px; transform: rotate(-225deg);}
}
@keyframes bar2 {
	0% {opacity: 1;}
	40% {opacity: 0;}
	100% {opacity: 0;}
}
@keyframes bar3 {
	0% {}
	40% {top: 43px; transform: rotate(0deg);}
	100% {top: 43px; transform: rotate(-135deg);}
}

@keyframes bar1-rev {
	0% {top: 43px; transform: rotate(-225deg);}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 33px; transform: rotate(0deg);}
}
@keyframes bar2-rev {
	0% {opacity: 0;}
	60% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes bar3-rev {
	0% {top: 43px; transform: rotate(-135deg);}
	60% {top: 43px; transform: rotate(0deg);}
	100% {top: 53px; transform: rotate(0deg);}
}




.picture {
	height:100vh;
	position: relative;
}
.picture .pic {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
}
.picture .pic1 {background-image: url(../img/travel-banner-cyan2.jpg);}
.picture .pic2 {background-image: url(../img/travel-banner-3.jpg);}
.picture .pic3 {background-image: url(../img/travel-banner-6.jpg);} 



.main-logo { width: 100%; position: absolute; text-align: center; color: #fff; font-weight: normal; 
	top: 50%; transform: translateY(-50%); font-size: 70px; 
font-family: 'Finger Paint', cursive;}	
.main-cont { width: 100%; position: absolute; text-align: center; color: #fff; font-weight: normal; top: 50%; transform: translateY(-50%); font-size: 20px; margin-top: 4rem;}	
.main-icon { width: 10%; position: absolute; text-align: center; color: #fff; font-weight: normal; top: 50%; transform: translateY(50%); font-size: 20px; padding-bottom: 50px;
background-color: #009fd0;}	




.box {width: 33.3333%; float: left; color: #fff;padding: 80px 35px;}
.box1 {background-color: #0093c0;}
.box2 {background-color: #109bc5;}
.box3 {background-color: #009fd0;}
.box-icon {float: left; width: 80px; height: 80px; border: 1px solid white; border-radius: 50%; text-align:center; line-height: 80px;}
.box-cont {float: right; width: calc(100% - 100px);height: 80px;}
.box-cont .cont-1 {font-size: 1.5rem;}


.mid-wrap {text-align: center; font-family: 'Open Sans', sans-serif; margin-top: 50px;}
.mid-2 {letter-spacing: 1px; color: #222; font-size: 34px; margin-bottom: 24px;}
.mid-3 {font-size: 100%; margin: 8px;}
.mid-wrap .bt-dest {background-color: #0093c0; color: #fff; padding: 1rem 1.5rem; margin-top: 1rem; width: 186px; text-align: left;
border-radius: 100px; border: none; outline:none; cursor: pointer; position: relative; transition: all 0.5s;}
.mid-wrap .bt-dest .fa {display: none; right:1rem; top:1.25rem; position: absolute;}
.mid-wrap .bt-dest:hover {background-color: #0093c0; width: 200px;}
.mid-wrap .bt-dest:hover > .fa {display: inline-block;}


.btm-wrap {text-align: center; padding: 100px; cursor: pointer;}
.btm-1 {padding: 4px;}
.btm-2 {font-size: 34px; padding-bottom: 24px;}
.btm-photo {max-width: 32.3%; float: left; text-align: center; margin: 0.5%;
	position: relative;}
.photo-bg {position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); top: 0; left: 0; display: table; transition: all 0.5s;}
.btm-wrap .btm-photo:hover > .photo-bg { background-color: rgba(0,0,0,0);}
.btm-photo .btm-text:hover {opacity: 0;}
.btm-text {color: white; font-size: 16px; font-family: 'Open Sans', sans-serif;
letter-spacing: 1px; display: table-cell; text-align: center; vertical-align: middle;}
.btm-photo .bt-line {text-decoration: line-through;}



.last-wrap {text-align: center;padding: 16px;}
.last-title {padding: 8px;}
.last-cont {letter-spacing: 1px; font-size: 34px;}

.end-wrap {margin: 40px 0; width: 100%; height: 400px; position: relative;}
.end-wrap > .end-pic > img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.end-wrap > .end-pic {width: 60%; height: 100%; position: absolute; overflow: hidden;}
.end-cont {position:absolute; width: auto; height: 100%; color: white; font-size: 34px; font-family: 'Quicksand', sans-serif; background-color: rgba(0,0,0,0.4); display: table;}
.end-cont > span {display: table-cell; vertical-align: middle; text-align: center;}

.end-wrap .end-pic {border: 1px solid red;}
.end-wrap .end-pic:hover {background-color: rgba(0,0,0,0);}



.final-wrap {background-color: #109bc5; text-align: center;
max-width: 1200%; padding:200px;}
.final-wrap  .fin-tit {padding-top: 20px; color: white;}
.final-wrap  .fin-cont {padding: 20px; font-size: 32px;
color: white; letter-spacing: 1px; font-family: 'Open Sans', sans-serif;}
.final-form {float: left;}

.fin {width: 100%;}
.fin-name {background-color: #0f81a1; border-color: #83c7dc; color: #bde5f0; 
padding: 16px 24px; width: 30%; float: left; border:1px solid #83c7dc;
margin: 0 12px; }


.footer {width: 100%; background-color: deepskyblue; color: white;
	padding: 8px 16px; }
.footer > .fo-tit {float: left; padding: 16px 8px; margin-left: 20%; color: white; text-decoration: none;}
.dodo {text-decoration: none; float: left; color: #fff; padding: 0 2px;}
.fo-tit > span {text-decoration: none; float: left; padding: 0 2px;}
.footer .fo-cont {float: right; margin-right: 20%;}
.fo-cont > a  {float: left; padding: 16px 24px; color: white; text-decoration: none;}
.footer:hover {color: white;}
.footer .fofo {text-decoration: none;}


.bt-top	{float: right;}



@media screen and (max-width: 991px) {
	.header {color: white; font-size: 13px; line-height: 13px; padding: 6px 0;
	background-color: #009fd0;}
	.navi-wrap {padding: 8px;}
	.navi-wrap > .login {float: right; padding-right: 4rem;}
	.navi-wrap  .login-2 {border-left: 1px solid #fff; padding: 0 4px;}
	hr.border {border: none; border-bottom: 1px solid #eee; opacity: 0.5;}
	.picture .call {padding-left: 41%;}
	.titles .fa {display: block;}
	.titles {display: none;}
	.title-wrap {max-width: 100%;} 
	.title-wrap > .title {margin: auto;}
	.title-wrap .imgh {width: 40%;}
	.title-wrap {background-color: #009fd0;}
	.box-cont {float: right; width: calc(100% - 10px);height: 120px;}
	.cont-1 {padding-top: 20px; font-size: 1.2rem;}
	.cont-2 {padding-top: 6px;}
	.cont-2 > .br {display: none}
	.mid-wrap {margin-top: 70px;}
	.mid-3 {font-size: 100%; margin: 8px 5rem; vertical-align: baseline;}
	.final-wrap {text-align: center; max-width:100%; padding: 6rem;}
	.footer {width: 100%; padding: 2px 16px; }
	.footer > .fo-tit {float: left; padding: 16px 8px; margin-left: 5%; font-size: 12px;}
	.footer .fo-cont { margin-right: 5%; font-size: 11px;}
	.bars {display: block; margin-right: 1rem;}


}
@media screen and (max-width: 767px) {
	
}
